@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --dark-background: #1f2937;
    --white: #f9faf8;
    --blue: #3882f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all .2s linear;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #ddd;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}

button {
    color: var(--white);
    background-color: var(--blue);
    font-size: 1rem;
    padding: .3rem 1.4rem;
    border: none;
    border-radius: .3rem;
}

header {
    background-color: var(--dark-background);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

header .logo a {
    color: white;
}

header .logo {
    font-size: 1.5rem;
}

header .logo:hover{
    transform: rotateZ(-360deg);
}

header .logo a:hover {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-size: 1.125rem;
}

#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-background);
    color: var(--white);
    padding: 5rem 5rem;
}

.hero-main-text h1{
    font-size: 2.927rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero-main-text button.hero-button {
    border: none;
    margin-top: .3rem;
}

.hero-main-pic img{
    width: 40rem;
    height: auto;
}

.random-info {
    text-align: center;
    padding: 2rem 5rem;
}

.random-info h1 {
    font-size: 2.25rem;
    color: var(--dark-background);
}

.flex-info {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.info {
    width: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .5rem;
    padding: 0 .5rem 2rem;
    text-align: center;
}

.info img {
    height: 15rem;
    width: 90%;
    border-radius: .5rem;
}















@media (max-width: 768px) {
    .nav-links {
        width: 20%;
    }

    #hero-section {
        padding: 3rem;
        flex-wrap: wrap;
    }

    .hero-main-pic img {
        width: 35rem;
    }

    .random-info {
        padding: 2rem 3rem;
    }
    
}

@media (max-width: 425px) {
    html {
        font-size: 80%;
    }

    header {
        padding: 1rem 3rem;
    }

    .nav-links {
        width: 45%;
    }

    #hero-section {
        padding: 2rem;
    }

    .hero-main-pic img {
        width: 30rem;
    }

    .random-info {
        padding: 2rem;
    }
    
}
@media (max-width: 320px) {
    .hero-main-text h1 {
        line-height: 2.7rem;
    }
    header {
        padding: 1rem 2rem;
    }
    .nav-links {
        width: 55%;
    }
    .hero-main-pic img {
        width: 27rem;
    }

    .random-info {
        padding: 1rem;
    }
}